[project]
name = "sicp-homeassistant"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "homeassistant>=2026.1.1",
    "sicppy",
    "voluptuous>=0.15.2",
]

[tool.uv.sources]
sicppy = { workspace = true }
